.searchBar {
  width: 380px;
}

.searchBar .MuiOutlinedInput-root {
  min-height: 48px;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0px 2px 20px 0px #d6d4f04d;
}

.searchBar fieldset {
  border-radius: 100px;
  border: 1px solid #edf0f6;
}

.searchBar .MuiOutlinedInput-input {
  padding: 12px 16px;
  line-height: 24px;
}

@media (max-width: 768px) {
  .searchBar {
    width: 100%;
  }
  
  .searchBar .MuiOutlinedInput-root {
    min-height: 40px;
  }
  
  .searchBar .MuiOutlinedInput-input {
    padding: 8px 12px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .searchBar .MuiOutlinedInput-root {
    min-height: 36px;
  }
  
  .searchBar .MuiOutlinedInput-input {
    padding: 6px 10px;
    font-size: 13px;
  }
}
